@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

@media only screen and (min-width:60em) {
    html {
        font-size: 110%
    }
}

@media only screen and (min-width:90em){
    html {
        font-size: 120%
    }
}

@media only screen and (min-width:120em) {
    html {
        font-size: 130%
    }
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

a:focus {
    outline: 3px solid #000;
}

/* It's okay to remove the focus rectanlge for mouse users ITS NOT OKAY TO RMOVE FROM KEYBOARD USERS! *
a:hover,
a:active {
    outline: none;
} */

.skip-links {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.skip-links a {
    position: absolute;
    top: -3em;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 0.5em 0.7em;
    font-size: 1.25em;
}

.skip-links a:focus {
    top: 0;
}

.top{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.top a {
    position: absolute;
    color: #fff;
    background-color: #000;
    font-size: .75em;
    padding: .35em;
}
    

img {
  display: block;
  width: 100%;
}

.header {
    background-color: #ccc;
    overflow: hidden;
    display: block;
    
}

.title {
    text-align: center;
    margin: 0;
}

.nav {
    display: block;
    padding: 0;
}

.nav li {
    list-style-type: none;
}

.nav a {
    text-decoration: none;
    color: #0074D9;
    display: block;
    overflow: hidden;
}

.mars {
    overflow: hidden;
}

.intro {
    background-color: #e2e2e2;
    text-align: center;
    overflow: hidden;
}

.footer {
    background-color: #ccc;
    display: block;
    overflow: hidden;
}

.chara {
    background-color: #e2e2e2;
}

.pics-3 {
    background-color: #efefef;
}

.moon {
    text-align: center;
    background-color: #e2e2e2;
    overflow: hidden;
    display: block;
}
.st {
    background-color: #e2e2e2;
}


@media only screen and (min-width:20em) {
    
    .nav li {
        display: inline-block;
    }
    
    .nav {
         text-align: center;
    }
    
    .copyright {
        text-align: center;
    }
}

@media only screen and (min-width:40em) {
    
   .title {
       float: left;
   }
    
    .nav {
        float: left;
    }
    
    .footernav {
        float: right;
    }
    
    .copyright {
        float: left;
    }
    
    .footernav a:after { 
        content: "•"; 
        padding-left: .45em;
    }
    
    .footernav li:last-child a:after {
        content: none;  
    }
}

@media only screen and (min-width:60em) {
    
    dt {
        float: left;
        margin: 0;
        padding: 0;
        width: 12em;
        clear: left;
    }

    dd  {
        float: left;
        margin: 0;
        padding: 0;
    }

}